<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{../css/shards.min.css}">

    <script th:src="@{../js/elastic-apm-rum.umd.min.js}" crossorigin></script>
    <script th:inline="javascript">
        var pageName = window.location.pathname.replace(/[0-9]+/gi, "X");
        var serverUrl = [[${apmServer}]];
        elasticApm.init({
            serviceName: 'elastic-springjpa-crud-mysql-service',
            serverUrl: serverUrl,
            distributedTracingOrigins: [],
            pageLoadTransactionName: pageName,
            active: true,
            pageLoadTraceId: [[${transaction.traceId}]],
            pageLoadSpanId: [[${transaction.ensureParentId()}]],
            pageLoadSampled: [[${transaction.sampled}]],
            distributedTracing: true,
        })
        var apmVar = elasticApm.setInitialPageLoadName('Page Load : ' + window.location.pathname)
    </script>
</head>
</html>