<html xmlns:th="http://www.thymeleaf.org">

<body id="samples">

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="menu">
    <a class="navbar-brand" href="#">Elastic APM / RUM Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a id="actuator-env" class="nav-link" href="/actuator/env">ENV details</a>
            </li>
            <li class="nav-item">
                <a id="actuator-mem-used" class="nav-link" href="actuator/metrics/jvm.memory.used">Used Memory</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="post">
            <input class="form-control mr-sm-2" id="name" name="name" type="search" placeholder="Search by name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

</body>
</html>